<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945193649528-9rl92tjntevqef021h9blp04g3ah9ot3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945193649528-9rl92tjntevqef021h9blp04g3ah9ot3</string>
	<key>API_KEY</key>
	<string>AIzaSyDeKSNpi6RNi68cqqTvpxA0tPF9iZNxju8</string>
	<key>GCM_SENDER_ID</key>
	<string>945193649528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fortune.Fortune</string>
	<key>PROJECT_ID</key>
	<string>fortune-e5c35</string>
	<key>STORAGE_BUCKET</key>
	<string>fortune-e5c35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945193649528:ios:13036c455ec2fd9c7cb48d</string>
</dict>
</plist>